
    <ul class="list-group">

        <li *ngFor="let answer of answers" class="list-group-item justify-content-between">
            <span class="row">
                <p class="col-10">{{answer.answerText}}</p>
                <div class="col-2">
                    <span class="row">
                        <span class="col-6">Rating:<br>{{answer.rating}}</span>
                        <span class="col-6"><fa-icon [icon]="faAngleUp" (click)="voteUp(answer.id)" id="voteUp"></fa-icon><br /><fa-icon [icon]="faAngleDown" (click)="voteDown(answer.id)" id="voteDown"></fa-icon></span>
                    </span>
                </div>
            </span>
        </li>
    </ul>




